/* Add screen styles below */

body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER NAVIGATION SECTION STYLING  */

header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: transparent;
    text-align: center;
    padding: 10px;
    z-index: 1000; 
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
}

nav li {
    margin: 0 15px;
}

nav a {
    text-decoration: none;
    font-family: 'League Spartan', sans-serif;
    font-weight: 600;
    font-size: 2.5vw;
    color: white;
    margin: 0 10px;
    transition: color 0.3s;
}

nav a:hover {
    color: #6d3d3d;
}

body {
    background-color: black;
}

body.with-padding {
    padding-top: 60px;
}

body.without-padding {
    padding-top: 0;
}


h1 {
    font-size: 9vw;
    color:white;
    font-family: 'League Spartan', sans-serif;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
}



/* MAIN SECTION IMAGE STYLES */
.content-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    gap: 40px; 
}

.main-circular-image {
    width: 25%;  
    height: 30%; 
    border-radius: 35%; /*circular shape*/
    object-fit: cover; 
}

.content-text {
    width: 25%;
    color: white;
    font-family: AvenirNext-Regular,sans-serif;
    font-size: 1.4vw;
}


h2 {
    color: white;
    font-size: 5vw;
    font-family: 'League Spartan', sans-serif;
    font-weight: 700;
}

h3 {
    color: white;
    font-family: 'League Spartan', sans-serif;
    font-weight: 200;

}

p {
    color: white;
    

    font-family: AvenirNext-Regular,sans-serif;
    font-size: 20px;
}

body #fp-nav ul li,
body .fp-slidesNav ul li {
    margin-top: 67px; /* Adds 10px margin to the top of each item */
    margin-bottom: 67px;
    margin-right: 50px;
}

/* style for navigation link on hover */
body #fp-nav ul li:hover a span,
body .fp-slidesNav ul li:hover a span {
    height: 80px;
    width: 2px;
    background: rgb(236, 40, 213) !important; /* hover color */
    border-radius: 5%;
    margin: -40px 0 0 -1px;
}

/* Adjusting the size of the navigation circles */
body #fp-nav ul li a span,
body .fp-slidesNav ul li a span {
    height: 80px; /* New height */
    width: 2px; /* New width */
    background: rgb(255, 255, 255);
    border-radius: 0;
    margin: -40px 0 0 -1px; /* Adjust margin for new size (half of width/height) */
}

/* Adjusting the size of the active navigation circles */
body #fp-nav ul li a.active span,
body .fp-slidesNav ul li a.active span,
body #fp-nav ul li:hover a.active span,
body .fp-slidesNav ul li:hover a.active span {
    height: 52px; 
    width: 2px; 
    border-radius: 5%;
    margin: -26px 0 0 -1px; /* Adjust margin for new active size (half of width/height) */
    background: rgb(236, 40, 213) !important; /* active color */
}


.skills-container {
    color: #fff; /* Text color */
    background-color: #000; 
    padding: 40px; /* Section padding */
    justify-content: center; 
    display: flex;
    align-items: center;
    gap: 20%; 
    font-family: 'League Spartan', sans-serif;
    font-weight: 200;

}

.skills-container h3 {
    font-size: 3vw;
}

.skills-container p {
    font-size: 2vw;
}

h2{
    margin-top: 60px;
}

.skills-category {
    display: flex; /* This will create a flex container */
    flex-direction: column; /* This will stack child elements in a column */
    margin-bottom: 20px; 
}
  
.skills-category h3 {
    margin-bottom: 0.5em; /* Spacing below each subheading */
}


.skills-category {
    display: grid; /* This will create a flex container */
    flex-direction: column; /* This will stack child elements in a column */
    margin-bottom: 20px; /* Spacing between each category */
}

.skill {
    display: flex;
    justify-content: space-between;
}

.skill span {
    font-family: AvenirNext-Regular,sans-serif;
    align-self: center;
}


.skills-category h3 {
    margin-bottom: 0.5em; /* Spacing below each subheading */
}

.skills-category p {
    align-items: flex-start;
} 

#section3 p, #section5 p {
    padding: 35px;
    margin-right: 170px;
}

.skills-on-the-right {
    width: 30%;
}

.skills-on-the-left {
    width: 30%;
}

.skills-on-the-left span {
    
    font-size: 2vw;
}

.skills-on-the-right span {
    font-size: 1.5vw;
}

.skills-category.tools {
    margin-bottom: 40px; 
}

.resume-download {
    display: inline-block;
    margin-left: 20px;
    margin-top: 65px;
    text-decoration: none;
    color: white;
    font-family: AvenirNext-Regular,sans-serif;
    font-size: 2vw;
}
.resume-download:hover {
    color: brown;
}

/* styling to make "resume" and "view resume" next to each other */
.header-with-link {
    display: flex;
    align-items: center; /* Aligns items vertically */
}


#section2 h2 {
    margin-left: 12%;
}

#section3 h2 {
    padding: 50px;
    margin-left: 12%;
}


body #resume-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}

#resume-section h2 {
    padding: 15px;
    margin-top: 0;
    font-size: 40px;
    font-family: 'League Spartan', sans-serif;
    font-weight: 200;
}

#resume-content {
    text-align: center;
    padding: 10px;
}

.button-style {
    background-color: #5e5454;
    color: white;
    font-size: 1.2em;
    font-family: 'League Spartan', sans-serif;
    font-weight: 200;
    padding: 10px 20px;
    margin-top: 20px; 
    margin-bottom: 10px;

    border: none;
    border-radius: 5px;
    cursor: pointer;  
    transition: 0.3s; 
    text-decoration: none;

  }
  
.button-style:hover {
    background-color: rgb(194, 194, 194);
    color: black;
}
  
#section3 h3 {
    padding: 20px;
    text-align: center;
}

h4 {
    color: white;
    font-family: 'League Spartan', sans-serif;
    font-weight: 200;
    margin-top: 7px;
    margin-left: 20px;
}

.timeline-container {
    position: relative;
    padding-left: 30px;
    padding-right: 30px;
}

.timeline-item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
    position: relative;
}

.timeline-date {
    width: calc(35% - 35px); 
    text-align: right;
    padding-right: 25px; /* Spacing between date and the line */
    color: white;
}

.timeline-content {
    width: calc(65% - 35px);
    padding-left: 45px; /* Spacing between line and the content */
}

.timeline-dot {
    position: absolute;
    left: calc(35% - 16.5px); 
    top: 10px; 
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #ffde05; /* Dot color */
    border: 3px solid #fff; /* Dot border color */
    z-index: 2;
}

/* Vertical line */
.timeline-container::before {
    content: '';
    position: absolute;
    left: 35%;
    transform: translateX(-50%);
    top: 0;
    bottom: 0;
    width: 2px; /* Line width */
    background: #ddd; /* Line color */
    z-index: 1;
}


.timeline-title, .timeline-description {
    position: relative;
    z-index: 3;
}

.contact-form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 0 auto;
}

.contact-form input, .contact-form textarea {
    margin-bottom: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.social-links {
    text-align: center;
    margin-top: 20px;
}

.social-links a {
    margin: 0 10px;
    text-decoration: none;
    color: white;
    font-size: 1.5em;
}


/* This is from formspree.io (all code below) */

#fs-frm input,
#fs-frm select,
#fs-frm textarea,
#fs-frm fieldset,
#fs-frm optgroup,
#fs-frm label,
#fs-frm #card-element:disabled {
  font-family: inherit;
  font-size: 100%;
  color: white;
  border: none;
  border-radius: 0;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
}
#fs-frm label,
#fs-frm legend,
#fs-frm ::placeholder {
  font-size: .825rem;
  margin-bottom: .5rem;
  padding-top: .2rem;
  display: flex;
  align-items: baseline;
}

/* border, padding, margin, width */
#fs-frm input,
#fs-frm select,
#fs-frm textarea,
#fs-frm #card-element {
  border: 1px solid rgba(0,0,0,0.2);
  background-color: rgba(255,255,255,0.9);
  padding: .75em 1rem;
  color: black;
  margin-bottom: 1.5rem;
}
#fs-frm input:focus,
#fs-frm select:focus,
#fs-frm textarea:focus {
  background-color: white;
  outline-style: solid;
  outline-width: thin;
  outline-color: rgb(184, 184, 184);
  outline-offset: -1px;
}
#fs-frm [type="text"],
#fs-frm [type="email"] {
  width: 100%;
}
#fs-frm [type="button"],
#fs-frm [type="submit"],
#fs-frm [type="reset"] {
  width: auto;
  cursor: pointer;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
}
#fs-frm [type="button"]:focus,
#fs-frm [type="submit"]:focus,
#fs-frm [type="reset"]:focus {
  outline: none;
}
#fs-frm [type="submit"],
#fs-frm [type="reset"] {
  margin-bottom: 0;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s; 
}
#fs-frm select {
  text-transform: none;
}

#fs-frm {
    max-width: 500px; 
    margin: auto; /* Center the form */
    padding-right: 20px; 
}

/* Add hover style for the submit button */
#fs-frm [type="submit"]:hover {
    background-color: rgb(72, 72, 72);
    color: white;
    border: 1px solid 
  }
  

#section5 {
    padding: 80px;
    text-align: center;
}


.gh-round-image {
    border-radius: 50%;
}



/* section 4 styling */
#section4 {
    padding: 80px 0;
    color: white;
}

#section4 h2 { 
    margin-bottom: 10px;
}


.s4-content-container {
    display: flex;
    justify-content: space-between; 

}

.s4-left-half,
.s4-right-half {
    width: 48%; 
    padding: 50px;
    
}

.s4-left-half p,
.s4-right-half p {
    color: white;
    font-size: 20px;

}

.s4-right-half {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.map-and-clubs {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px; 
}

.map-image {
    width: 80%; 
    border-radius: 10%;
    margin-top: 50px;
}

.club {
    text-align: center;
    padding: 20px;
}

.clubs {
    display: flex;
    flex-direction: row;
}

.club img {
    width: 120px;
    height: 120px; 
    border-radius: 50%;
    margin-top: 20px; 
}

.club span {
    display: block;
    font-family: 'League Spartan', sans-serif;
    font-weight: 200;
    margin-top: 15px; 
    white-space: nowrap;
}
  

.hobbies-icons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    position: relative;
}

.hobbies-icons img {
    width: 80px; 
}

.hobbies-icons::before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: white; 
    top: 50%; 
    z-index: -1;
}

.hobbies-icons img + img::before {
    content: '';
    display: block;
    position: absolute;
    width: 20px; 
    height: 1px;
    background-color: white; 
    top: 50%; 
    left: calc(50% + 20px);
    z-index: -1;
}


@media only screen and (max-width: 768px) {
    h1 {
        font-size: 6vw; 
    }
    .content-text {
        font-size: 2vw; /
    }
    .timeline-description {
        font-size: 2vw;
        margin-right: 0 !important;
    }
    .main-circular-image {
        width: 40%; 
    }
    .skills-container {
        flex-direction: column; /* Stack skill containers vertically */
    }
    .skills-on-the-left, .skills-on-the-right {
        width: 60%; 
    }
    .map-image {
        width: 80%;
    }
    .s4-left-half p {
        font-size: 2vw ;
    }
    nav li {
        margin: 10px 0;
    }

    .club img {
        width: 30px;
        height: 30px;
    }

    .clubs {
        flex-direction: column; 
        align-items: center; 
        
    }
    .club {
        padding: 0;
    }

    .map-and-clubs {
        flex-direction: column;
    }

    .hobbies-icons img {
        width: 30%; 
    }

    #section2 h2 {
        margin-left: 140px;
    }

}
